#wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(129, 211, 114, 0.1) 50%, rgb(110, 90, 60) 100%), url(../../img/error.jpg) 10% no-repeat;
    background-size: cover;
}

#errorWrap {
    width: 100%;
}

#errorWrap > #errorForm {
    background-color: var(--main);
    margin: 0 auto;
    width: 100rem;
    height: 82.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    box-shadow: 1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

#errorWrap > #errorForm > #errorImg {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2.5rem;
}

#errorWrap > #errorForm > #errorComment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

#errorWrap > #errorForm > #errorComment > h1 {
    font-size: 5.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#errorWrap > #errorForm > #errorComment > p {
    font-size: 2.6rem;
    font-weight: 345;
}

#errorWrap > #errorForm > #errorCele {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#errorWrap > #errorForm > #errorBefore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#errorWrap > #errorForm > #errorBefore > button {
    width: 20rem;
    height: 4.6rem;
    background: var(--header);
    border: none;
    color: var(--main);
    font-weight: bold;
    font-size: 1.6rem;
}
