<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/root.css" />
        <link rel="stylesheet" href="/css/layout/adminSide.css" />
        <link rel="stylesheet" href="/css/admin/adminCate.css">
        <script src="/js/admin/adminCategory.js" defer></script>
        <title>Document</title>
    </head>
    <body>
        <div id="wrap">
            {% include 'layout/adminSide.html' %}
            <div id="categoryWrap">
                <div id="category">
                    <div id="categoryHeader">
                        <div id="categoryHeaderTitle">카테고리</div>
                        <div id="categoryHeaderContent">카테고리를 생성, 수정 및 삭제할 수 있습니다.</div>
                    </div>
                    <div id="categoryBody">
                        <div id="categoryClassify">
                            <div id="categoryClassifyList">분류 전체보기</div>
                            <form class="categoryUpdate">
                                <div class="categoryBox">
                                    <div class="categoryName">카테고리 1</div>
                                    <div class="categoryUpdateBox">
                                        <button class="updateButton">수정</button>
                                        <button class="deleteButton">삭제</button>
                                    </div>
                                </div>
                                <div class="subCategoryBox">
                                    <div class="subCategoryName">서브 카테고리 1</div>
                                    <div class="categoryUpdateBox">
                                        <button class="updateButton">수정</button>
                                        <button class="deleteButton">삭제</button>
                                    </div>
                                </div>
                            </form>
                            <form class="categoryCreate">
                                <input class="categoryCreateBox" type="text" name="subCategory">
                                <button>추가</button>
                            </form>
                            <form class="categoryUpdate">
                                <div class="categoryBox">
                                    <div class="categoryName">카테고리 2</div>
                                    <div class="categoryUpdateBox">
                                        <button>수정</button>
                                        <button>삭제</button>
                                    </div>
                                </div>
                                <div class="subCategoryBox">
                                    <div class="subCategoryName">서브 카테고리 2-1</div>
                                    <div class="categoryUpdateBox">
                                        <button>수정</button>
                                        <button>삭제</button>
                                    </div>
                                </div>
                                <div class="subCategoryBox">
                                    <div class="subCategoryName">서브 카테고리 2-2</div>
                                    <div class="categoryUpdateBox">
                                        <button>수정</button>
                                        <button>삭제</button>
                                    </div>
                                </div>
                                <div class="subCategoryBox">
                                    <div class="subCategoryName">서브 카테고리 2-3</div>
                                    <div class="categoryUpdateBox">
                                        <button>수정</button>
                                        <button>삭제</button>
                                    </div>
                                </div>
                            </form>
                            <form class="categoryUpdate">
                                <div class="categoryBox">
                                    <div class="categoryName">카테고리 3</div>
                                    <div class="categoryUpdateBox">
                                        <button>수정</button>
                                        <button>삭제</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="categoryFooter">
                        <button id="categorySave">+ 변경사항 저장</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
