<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/root.css" />
        <link rel="stylesheet" href="/css/layout/adminSide.css" />
        <link rel="stylesheet" href="/css/admin/adminUser.css">
        <title>Document</title>
    </head>
    <body>
        <div class="adminWrap">
            {% include 'layout/adminSide.html' %}
            <!-- adminRight -->
            <div class="adminRight">
                <!-- adminRightTop -->
                <div class="adminRightTop">
                    <h1>회원 관리</h1>
                    <p>특정 회원을 검색하고 정보를 수정할 수 있습니다.</p>
                </div>

                <!-- adminRightTop -->
                <div class="adminUserSearch">
                    <form action="" method="">
                        <input type="text" name="" id="" />
                        <button type="submit">검색</button>
                    </form>
                </div>
                <!-- adminUserSearch -->

                <!-- adminUserList -->
                <div class="adminUserList">
                    <table>
                        <tr class="trHeader">
                            <th class="th1">아이디</th>

                            <th class="th2">이름</th>

                            <th class="th3">닉네임</th>

                            <th class="th4">성별</th>

                            <th class="th5">핸드폰 번호</th>

                            <th class="th6">이메일</th>

                            <th class="th7">포인트</th>

                            <th class="th8">수정</th>
                        </tr>
                        <tr class="trBody">
                            <td>{아이디}</td>
                            <td>{이름}</td>
                            <td>{닉네임}</td>
                            <td>{성별}</td>
                            <td>{핸드폰번호}</td>
                            <td>{이메일}</td>
                            <td>포인트</td>
                            <td><button class="adminUserEditBtn">수정</button></td>
                        </tr>
                        <tr class="trBody">
                            <td>{아이디}</td>
                            <td>{이름}</td>
                            <td>{닉네임}</td>
                            <td>{성별}</td>
                            <td>{핸드폰번호}</td>
                            <td>{이메일}</td>
                            <td>포인트</td>
                            <td><button class="adminUserEditBtn">수정</button></td>
                        </tr>
                        <tr class="trBody">
                            <td>{아이디}</td>
                            <td>{이름}</td>
                            <td>{닉네임}</td>
                            <td>{성별}</td>
                            <td>{핸드폰번호}</td>
                            <td>{이메일}</td>
                            <td>포인트</td>
                            <td><button class="adminUserEditBtn">수정</button></td>
                        </tr>
                        <tr class="trBody">
                            <td>{아이디}</td>
                            <td>{이름}</td>
                            <td>{닉네임}</td>
                            <td>{성별}</td>
                            <td>{핸드폰번호}</td>
                            <td>{이메일}</td>
                            <td>포인트</td>
                            <td><button class="adminUserEditBtn">수정</button></td>
                        </tr>
                        <tr class="trBody">
                            <td>{아이디}</td>
                            <td>{이름}</td>
                            <td>{닉네임}</td>
                            <td>{성별}</td>
                            <td>{핸드폰번호}</td>
                            <td>{이메일}</td>
                            <td>포인트</td>
                            <td><button class="adminUserEditBtn">수정</button></td>
                        </tr>
                        <!-- <tr class="trBody">
                            <td>{아이디}</td>
                            <td>{이름}</td>
                            <td>{닉네임}</td>
                            <td>{성별}</td>
                            <td>{핸드폰번호}</td>
                            <td>{이메일}</td>
                            <td>포인트</td>
                            <td><button class="adminUserEditBtn">수정</button></td>
                        </tr>
                        <tr class="trBody">
                            <td>{아이디}</td>
                            <td>{이름}</td>
                            <td>{닉네임}</td>
                            <td>{성별}</td>
                            <td>{핸드폰번호}</td>
                            <td>{이메일}</td>
                            <td>포인트</td>
                            <td><button class="adminUserEditBtn">수정</button></td>
                        </tr>
                        <tr class="trBody">
                            <td>{아이디}</td>
                            <td>{이름}</td>
                            <td>{닉네임}</td>
                            <td>{성별}</td>
                            <td>{핸드폰번호}</td>
                            <td>{이메일}</td>
                            <td>포인트</td>
                            <td><button class="adminUserEditBtn">수정</button></td>
                        </tr>
                        <tr class="trBody">
                            <td>{아이디}</td>
                            <td>{이름}</td>
                            <td>{닉네임}</td>
                            <td>{성별}</td>
                            <td>{핸드폰번호}</td>
                            <td>{이메일}</td>
                            <td>포인트</td>
                            <td><button class="adminUserEditBtn">수정</button></td>
                        </tr> -->
                    </table>
                </div>

                <!-- adminUserList -->
                <div class="adminPreNext">
                    <a href="#">이전</a>
                    <a href="#">다음</a>
                </div>
            </div>
            <!-- adminRight -->
        </div>
    </body>
</html>
