<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/root.css" />
        <link rel="stylesheet" href="/css/layout/adminSide.css" />
        <link rel="stylesheet" href="/css/admin/adminUser.css">
    </head>
    <body>
        <div class="adminWrap">
            {% include 'layout/adminSide.html' %}
            <!-- adminRight -->
            <div class="adminRight">
                <!-- adminRightTop -->
                <div class="adminRightTop">
                    <h1>회원 관리</h1>
                    <p>특정 회원을 검색하고 정보를 수정할 수 있습니다.</p>
                </div>

                <!-- adminRightTop -->
                <div class="adminUserSearch">
                    <form action="/admin/user" method="post" id="searchFrm">
                        <input type="text" name="search" id="search" placeholder="아이디를 검색해주세요."/>
                        <button type="submit" id="searchBtn">검색</button>
                    </form>
                </div>
                <!-- adminUserSearch -->

                <!-- adminUserList -->
                <div class="adminUserList">
                    <table id="contentTable">
                        <tr class="trHeader">
                            <th class="th1">아이디</th>

                            <th class="th2">이름</th>

                            <th class="th3">닉네임</th>

                            <th class="th4">성별</th>

                            <th class="th5">핸드폰 번호</th>

                            <th class="th6">이메일</th>

                            <th class="th7">포인트</th>

                            <th class="th8">수정</th>
                        </tr>
                        {% for user in userList %}
                        <tr class="trBody userinfoWrap">
                            <td class="userinfo userid">{{user.userid}}</td>
                            <td class="userinfo">{{user.username}}</td>
                            <td class="userinfo">{{user.nickname}}</td>
                            <td class="userinfo">{{user.gender}}</td>
                            <td class="userinfo">{{user.phone}}</td>
                            <td class="userinfo">{{user.email}}</td>
                            <td class="userinfo">{{user.point}}</td>
                            <td><button class="adminUserEditBtn">수정</button></td>
                        </tr>
                        {% endfor %}
                    </table>
                <div class="adminPreNext">
                    <a id="prev"></a>
                    {% for number in btnNumber %}
                    <span class="pageNumber">{{number}}</span>
                    {% endfor %}
                    <input type="hidden" value="{{totalPage}}" id="totalPage">
                    <a id="next">></a>
                </div>
            </div>
            <!-- adminRight -->
        </div>
        <script src="/js/admin/adminUser.js"></script>
    </body>
</html>
