<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/root.css" />
        <link rel="stylesheet" href="/css/layout/adminSide.css" />
        <link rel="stylesheet" href="/css/admin/adminBoard.css">
        <title>Document</title>
    </head>
    <body>
        <div class="adminWrap">
            {% include 'layout/adminSide.html' %}
            <div class="adminRight">
                <div class="adminRightTop">
                    <h1>게시물 관리</h1>
                    <p>게시물을 검색하고 숨길 수 있습니다.</p>
                </div>
                <div class="adminBoardSearch">
                    <form action="" method="">
                        <input type="text" name="" id="" />
                        <button type="submit">검색</button>
                    </form>
                </div>
                <div class="adminBoardList">
                    <table>
                        <tr class="trHeader">
                            <th class="th1">번호</th>

                            <th class="th2">카테고리</th>

                            <th class="th3">아이디</th>

                            <th class="th4">제목</th>

                            <th class="th5">작성일</th>

                            <th class="th6">좋아요</th>

                            <th class="th7">조회수</th>

                            <th class="th8">글상태</th>
                        </tr>

                        <tr class="trBody">
                            <td>{idx}</td>
                            <td>{카테고리}</td>
                            <td>{아이디}</td>
                            <td>{제목}</td>
                            <td>{작성일}</td>
                            <td>{좋아요}</td>
                            <td>{조회수}</td>
                            <td>{글상태}</td>
                        </tr>

                        <tr class="trBody">
                            <td>{idx}</td>
                            <td>{카테고리}</td>
                            <td>{아이디}</td>
                            <td>{제목}</td>
                            <td>{작성일}</td>
                            <td>{좋아요}</td>
                            <td>{조회수}</td>
                            <td>{글상태}</td>
                        </tr>

                        <tr class="trBody">
                            <td>{idx}</td>
                            <td>{카테고리}</td>
                            <td>{아이디}</td>
                            <td>{제목}</td>
                            <td>{작성일}</td>
                            <td>{좋아요}</td>
                            <td>{조회수}</td>
                            <td>{글상태}</td>
                        </tr>

                        <tr class="trBody">
                            <td>{idx}</td>
                            <td>{카테고리}</td>
                            <td>{아이디}</td>
                            <td>{제목}</td>
                            <td>{작성일}</td>
                            <td>{좋아요}</td>
                            <td>{조회수}</td>
                            <td>{글상태}</td>
                        </tr>

                        <tr class="trBody">
                            <td>{idx}</td>
                            <td>{카테고리}</td>
                            <td>{아이디}</td>
                            <td>{제목}</td>
                            <td>{작성일}</td>
                            <td>{좋아요}</td>
                            <td>{조회수}</td>
                            <td>{글상태}</td>
                        </tr>

                        <tr class="trBody">
                            <td>{idx}</td>
                            <td>{카테고리}</td>
                            <td>{아이디}</td>
                            <td>{제목}</td>
                            <td>{작성일}</td>
                            <td>{좋아요}</td>
                            <td>{조회수}</td>
                            <td>{글상태}</td>
                        </tr>
                    </table>
                    <div class="adminPreNext">
                        <a href="#">이전</a>
                        <a href="#">다음</a>
                    </div>
                </div>
                <!-- adminUserList -->
            </div>
            <!-- adminRight -->
        </div>
    </body>
</html>
