<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/root.css" />
        <link rel="stylesheet" href="/css/layout/adminSide.css" />
        <link rel="stylesheet" href="/css/admin/adminBoard.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <div class="adminWrap">
            {% include 'layout/adminSide.html' %}
            <div class="adminRight">
                <div class="adminRightTop">
                    <h1>게시물 관리</h1>
                    <p>게시물을 확인하고 숨길 수 있습니다.</p>
                </div>
                <div class="adminBoardSearch">
                    <select name="order" id="order">
                        <option value="" selected>--정렬방식선택--</option>
                        <option value="liked">좋아요</option>
                        <option value="hit">조회수</option>
                    </select>    
                    <button type="button">검색</button>
                </div>
                <div class="adminBoardList">
                    <table>
                        <tr class="trHeader">
                            <th class="th1">번호</th>

                            <th class="th2">카테고리</th>

                            <th class="th3">아이디</th>

                            <th class="th4">제목</th>

                            <th class="th5">작성일</th>

                            <th class="th6">좋아요</th>

                            <th class="th7">조회수</th>

                            <th class="th8">글상태</th>
                        </tr>
                        {% for list in boardList %}
                        <tr class="trBody">
                            <td class="boardId">{{list.id}}</td>
                            <td>{{list.mainName}}</td>
                            <td>{{list.userid}}</td>
                            <td class="boardSubject">{{list.subject}}</td>
                            <td>{{list.createAt}}</td>
                            <td>{{list.liked}}</td>
                            <td>{{list.hit}}</td>
                            <td class="access">{{list.visible}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div class="adminPreNext">
                        <a id="prev"><</a>
                        {% for number in btnNumber %}
                        <span class="pageNumber">{{number}}</span>
                        {% endfor %}
                        <input type="hidden" value="{{totalPage}}" id="totalPage">
                        <a id="next">></a>
                    </div>
                </div>
                <!-- adminUserList -->
            </div>
            <!-- adminRight -->
        </div>
        <script src="/js/admin/adminBoard.js" defer></script>
    </body>
</html>
