:root {
    --header: #adc46d;
    --footer: #526a7e;
    --main: #fdfdfd;
    --fontColor: #2e2e2e;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: var(--fontColor);
}

ul,
li {
    list-style: none;
}
