:root {
    --header: #adc46d;
    --footer: #526a7e;
    --joinFooter: rgba(110, 90, 60, 0.7);
    --main: #fdfdfd;
    --fontColor: #2e2e2e;
    --border: #cecece;
    --headerFont: "Sacred";
    --footerFont: "TheHistoriaDemo";
    --textFont: "GmarketSans";
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: var(--textFont);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--fontColor);
}

ul,
li {
    list-style: none;
}

button {
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background-color: var(--footer);
}

@font-face {
    font-family: "Sacred";
    src: url("../fonts/Sacred\ Bridge\ Demo.ttf") format("opentype");
}

@font-face {
    font-family: "TheHistoriaDemo";
    src: url("../fonts/TheHistoriaDemo.ttf") format("opentype");
}

@font-face {
    font-family: "GmarketSans";
    src: url("../fonts/GmarketSansTTFMedium.ttf") format("opentype");
}

