:root{
    --header: #ADC46D;
    --footer: #526A7E;
    --main: #FDFDFD;
    --fontColor: #2e2e2e;
    --border: #cecece;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: var(--fontColor)
}

ul, li {
    list-style: none;
}

button {
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background-color: var(--footer);
}