#footerWrap {
    width: 100%;
    height: 25rem;
    /* background: var(--joinFooter); */
    font-size: 2rem;
    color: #6e6d7a;
    border-top: 1px solid #6e6d7a3b;
}

#footer {
    margin: 0 auto;
    width: 120rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footerHeader {
    width: 100%;
    height: 15%;
}

.footerHeader > ul {
    margin: 0 auto;
    width: 90rem;
    display: flex;
    justify-content: space-evenly;
}

.footerHeader > ul > li {
    display: inline-block;
    width: 15%;
    height: 100%;
}

.footerHeader > ul > li > a {
    width: 100%;
    padding-top: 1rem;
    font-weight: 700;
    color: #6e6d7a;
}

.footerContents {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.footerLogoWrap {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLogo {
    font-size: 6rem;
    font-family: var(--headerFont);
    /* background-color: black; */
    color: #6e6d7a;
    text-align: center;
    border-radius: 0.5rem;
}

.footerContentWrap {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerContent {
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerContent > h2 {
    padding: 1rem;
    margin: 0.35rem 2rem;
    background-color: #6e6d7a;
    border-radius: 1rem;
    color: var(--main);
    transition: all 0.5s;
}

.footerContent > h2:hover {
    border-radius: 0;
    background-color: black;
}

.footerContent > div {
    display: flex;
    align-items: center;
}

.footerContent > div > a > img {
    margin: 0 0.25rem;
    width: 3rem;
    height: 3rem;
}

.footerCopyRight {
    font-size: 1.5rem;
    height: 15%;
    text-align: center;
    font-weight: bolder;
}