footer {
    width: 100%;
    height: 14rem;
    background: silver;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120rem;
    height: 14rem;
    margin: 0 auto;
    background: magenta;
}

#footer > #footerGithub {
    display: flex;
    justify-content: space-evenly;
    width: 80rem;
    height: 6.5rem;
    margin: 1.5rem 0 0 1.5rem;
    box-sizing: border-box;
}

#footer > #footerGithub > #footerPersonalInfo {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

#footer > #footerGithub > #footerInfoLeft {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

#footer > #footerGithub > #footerInfoLeft > ul > li {
    margin-top: 1rem;
}

#footer > #footerGithub > #footerInfoRight {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

#footer > #footerGithub > #footerInfoRight > ul > li {
    margin-top: 1rem;
}

#footer > #footerGithub > #footerInfoRight > ul > li > span {
    margin-right: 1rem;
}

#footer > #footerCopyRight {
    display: flex;
    width: 80rem;
    height: 6.5rem;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
