* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-weight: 700;
}

.wrap {
    position: relative;
    width: 100%;
    height: 15rem;
    background-color: var(--header);
}

#headerWrap {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(150, 120, 80);
    /* background: linear-gradient(180deg, rgba(116, 191, 102, 0.7) 10%, rgb(91, 187, 112, 0.7) 10%), url(../../img/headerleaf.jpg) 10% no-repeat;
    background-size: cover; */
}

#header {
    width: 120rem;
    height: 15rem;
    display: flex;
    justify-content: space-between;
}

.headerLogoWrap {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogo {
    color: var(--main);
    font-size: 8rem;
    font-family: var(--headerFont);
}

.headerContentWrap {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContents {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerContent {
    color: var(--main);
    font-size: 2rem;
}

.headerFunction {
    position: relative;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchWrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchWrap > input {
    margin-right: 0.5rem;
    border: 1px solid black;
}

#searchBtn {
    position: absolute;
    right: 6rem;
    background-color: transparent;
    border: none;
}

#searchIcon{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
}

#search {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5rem;
    transition: all 0.5s;
}

/* #searchBtn {
    position: absolute;
    width: 20%;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    background-color: var(--header);
    color: var(--main);
} */

/* .invisible {
    display: none;
} */

/* .searchWrap:hover > .searchIcon {
    display: none;
}

.searchWrap:hover > #search {
    display: block;
}

.searchWrap:hover > #searchBtn {
    display: block;
} */

.hamburgerBtn {
    position: absolute;
    right: -3rem;
    cursor: pointer;
    transition: all 0.2s;
}

.stick {
    display: block;
    margin: 0.75rem;
    width: 4rem;
    height: 0.4rem;
    background-color: var(--main);;
    transition: all 0.5;
    border-radius: 1rem;
}

.hamburgerBtn:hover > .h1 {
    width: 50%;
    transform: rotateZ(45deg) translateX(1.9rem) translateY(-1.6rem);
}

.hamburgerBtn:hover > .h2 {
    transform: translateX(0.5rem);
}

.hamburgerBtn:hover > .h3 {
    width: 50%;
    transform: rotateZ(-45deg) translateX(1.9rem) translateY(1.6rem);
}

.h1, .h2, .h3 {
    transition: all 0.2s;
}

/* ======================================================= */

#sidebarWrap {
    position: fixed;
    display: none;
    right: 0rem;
    width: 30rem;
    height: 100vh;
    background-color: #dcdcdc;
    transition: all 0.5s;
}

.cancleBtn {
    position: absolute;
    top: 6rem;
    left: 2rem;
}

.cancle1 {
    transform: rotateZ(45deg) translateX(0.3rem);
    display: block;
    width: 5rem;
    height: 0.4rem;
    background-color: black;
    border-radius: 1rem;
}

.cancle2 {
    transform: rotateZ(-45deg) translateX(0.2rem);
    display: block;
    width: 5rem;
    height: 0.4rem;
    background-color: black;
    border-radius: 1rem;
}

.cancle3 {
    position: absolute;
    display: block;
    width: 5rem;
    height: 5rem;
    top: -2.5rem;
}

#sidebar {
    margin: 0 auto;
    padding: 5rem;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
}

#sidemenus {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sideloginWrap {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.sidelogin {
    color: black;
    font-size: 1.5rem;
}

.sidemenu {
    font-size: 2rem;
}