<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/root.css" />
        <link rel="stylesheet" href="/css/layout/footer.css" />
        <link rel="stylesheet" href="/css/user/login.css" />
    </head>
    <body>
        <div id="wrap">
            <a href="/" id="joinLogo"> TeamEzo </a>
            <div id="loginForm">
                <div id="login">
                    <div id="loginHeaderWrap">
                        <div id="loginHeader">login</div>
                    </div>
                    <div id="loginContentWrap">
                        <div id="loginContents">
                            <form id="loginBoxWrap" method="post" action="/user/login">
                                <input type="text" name="userid" placeholder="아이디를 입력해주세요."/>
                                <input type="password" name="userpw" placeholder="비밀번호를 입력해주세요."/>
                                <button src="submit">로그인</button>
                            </form>
                            <div id="loginApi">
                                <a href="#">
                                    <img src="/img/loginKakao.png" />
                                    <div>
                                        카카오 로그인
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="loginFooterWrap">
                        <div id="goToJoin">
                            <a href="/user/join">회원가입</a>
                        </div>
                    </div>
                </div>
            </div>
            {% include "layout/footer.html"%}
        </div>
    </body>
</html>
