<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/root.css" />
        <link rel="stylesheet" href="/css/user/profileEdit.css" />
        <link rel="stylesheet" href="/css/layout/header.css" />
        <link rel="stylesheet" href="/css/layout/footer.css" />
    </head>
    <body>
        <!-- {% extends 'layout/header.html' %}
    {% block header %}
    {% endblock %} -->
        <section>
            <div class="profileEdit">
                <div class="profileEditContentsWrap">
                    <div class="profileEditContentsLeft">
                        <div class="profileEditContent1">
                            <div class="profileEditContent1Img">
                                <img src="/img/profileEdit.PNG" />
                            </div>
                            <div class="profileEditContent1Text">
                                <div>사진 불러오기</div>
                                <button>저장하기</button>
                            </div>
                        </div>
                        <div class="profileEditContent2">
                            <div class="profileEditContentTitle">계정 정보</div>
                            <div class="profileEditContentBox">
                                <div>이름</div>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="profileEditContentBox">
                                <div>아이디</div>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="profileEditContentBox">
                                <div>비밀번호</div>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="profileEditContentBox">
                                <div>닉네임</div>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="profileEditContentBox">
                                <div>성별</div>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="profileEditContentBox">
                                <div>이메일</div>
                                <input type="text" name="" id="" />
                            </div>
                        </div>
                    </div>
                    <div class="profileEditContentCenter"></div>
                    <div class="profileEditContentsRight">
                        <div class="profileEditContent3">
                            <div class="profileEditContentTitle">회원 정보</div>
                            <div class="profileEditContentBox">
                                <div>휴대폰 번호</div>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="profileEditContentBox">
                                <div>집전화 번호</div>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="profileEditContentBox">
                                <div>주소</div>
                                <input type="text" name="" id="" />
                            </div>
                        </div>
                        <div class="profileEditContent4">
                            <div class="profileEditContentTitle">간단 소개글</div>
                            <textarea
                                name=""
                                id=""
                                cols="30"
                                rows="10"
                                class="profileEditContentIntroduce"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class="profileEditBtnWrap">
                    <button class="profileEditBtn">수정하기</button>
                </div>
            </div>
        </section>
        <!-- {% extends 'layout/footer.html' %}
    {% block footer %}
    {% endblock %} -->
    </body>
</html>
