<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/root.css" />
        <link rel="stylesheet" href="/css/user/error.css" />
        <title>Document</title>
    </head>
    <body>
        <div id="errorWrap">
            <div id="errorForm">
                <div id="errorImg">
                    <img
                        src="/img/2697398bad5927125f3db2f8a248ca15effd194bae87d73dd00522794070855d.png"
                        style="width: 25rem; height: 25rem"
                    />
                </div>
                <div id="errorComment">
                    <h1>문제가 생겼어요..</h1>
                    <p>다시한번 확인해주세요</p>
                </div>
                <div id="errorBefore"><button>이전으로</button></div>
            </div>
        </div>
    </body>
</html>
