<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/root.css" />
        <link rel="stylesheet" href="/css/layout/header.css" />
        <link rel="stylesheet" href="/css/layout/footer.css" />
        <link rel="stylesheet" href="/css/index.css">
        <script src="/js/index.js" defer></script>
        <!-- <script src="/js/layout/sidebar.js" defer></script> -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://kit.fontawesome.com/18286462db.js" crossorigin="anonymous"></script>
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    </head>
    <body>
        {% include 'layout/header.html' %}
        <div id="wrap">
            <div id="contents_container">
                <div class="category_list">
                    <ul>
                        <li class="category_path">
                            <a href="/">Hot</a>
                        </li>
                        {% for category in mainName %}
                        <li class="category_path">
                            <a href="/search?category={{category}}">{{category}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="media">
                    <img src="/img/forest_background.gif"></img>
                </div>
                <div class="description">
                    <h1>TeamEzo's Community</h1>
                    <h2>function's description - user, board, notice, qna, admin,... </h2>
                </div>
                <div class="searchBox">
                    <form action="/search" method="post">
                        <img src="/img/search.png">
                        <input type="search" placeholder="subject, content, hashtag, ..." name="search">
                    </form>
                </div>
                <ul class="hashTag">
                    <li class="search_hash_header">hashtag search</li>
                    {% for hash in tagName %}
                    <li class="search_hash"><a href="/search?tagName={{hash}}">#{{hash}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="board_container">
                <div id="content">
                    <div id="main_content">
                        <ol class="content_grid">
                            {% for board in list %}
                            <li>
                                <div class="figure_container">
                                    <figure>
                                        <img src="{{board.fileUrl}}">
                                    </figure>
                                    <a class="board_view" href="/board/view?id={{board.id}}"></a>
                                </div>
                                <div class="board_information">
                                    <div class="user_information">
                                        <div><img src=""></div>
                                        <div>{{board.userid}}</div>
                                    </div>
                                    <div class="function_box">
                                        <div class="liked_box">
                                            <i class="fa-solid fa-heart"></i>
                                            <div>429</div>
                                        </div>
                                        <div class="hit_box">
                                            <i class="fa-sharp fa-solid fa-eye"></i>
                                            <div>{{board.hit}}</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            <!-- <table id="top10">
                <tbody>
                    <tr class="userlisthead">
                        <th>순위</th>
                        <th>아이디</th>
                    </tr>
                    {% for user in ranklist %}
                    <tr class="userlist">
                        <td>{{user.rank}}</td>
                        <td>{{user.userid}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> -->
            <div id="chatBtn">
                Chat
            </div>
            <div id="chatSpace">
                <div id="chatHeader">
                    <div id="cancelBtn"></div>
                </div>
                <!-- <ul class="chatContentsLeft"></ul>
                <ul class="chatContentsRight"></ul> -->
                <!-- <template id="chatLeft">
                    <ul class="chatContentsLeft">
                        <li class="chatUserName">char1ey</li>
                        <li class="chatContent">아 하기싫다.</li>
                    </ul>
                </template>
                <template id="chatRight">
                    <ul class="chatContentsRight">
                        <li class="chatContent">나도 하기싫다.</li>
                    </ul>
                </template> -->
                <form id="chatBox">
                    <input type="text" name="message">
                    <button type="submit">전송</button>
                </form>
            </div>
            {% include 'layout/footer.html' %}
        </div>
    </body>
</html>
