<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/root.css" />
        <link rel="stylesheet" href="/css/layout/header.css" />
        <link rel="stylesheet" href="/css/layout/writeForm.css" />
        <link rel="stylesheet" href="/css/layout/footer.css" />

        <title>Document</title>
    </head>
    <body>
        {% include 'layout/header.html' %}
        <article>
            <div id="writeForm">
                <div class="top">
                    <h1>글수정</h1>
                    <span></span>
                </div>

                <div class="write">
                    <form method="post" action="/board/modify" enctype="multipart/form-data">
                        <ul>
                            <li class="subject">
                                <select class="mainCategorySelect" name="mainName">
                                    <option>--카테고리 선택--</option>
                                    {% for item in mainCategory%}
                                    <option class="mainCategory" value="{{item.mainName}}">{{item.mainName}}</option>
                                    {% endfor %}
                                </select>
                                <div>
                                    {% for sub in subCategory%}
                                    <input type="hidden" class="{{sub.mainName}}" value="{{sub.subName}}" />
                                    {% endfor %}
                                </div>

                                <select class="subCategory" name="subName">
                                    <option>--카테고리 선택--</option>
                                </select>

                                <br />
                                <input type="text" name="subject" value="{{content.subject}}" />
                            </li>

                            <li class="content">
                                <textarea name="content">{{content.content}}</textarea><br />
                                <input type="file" name="img" />
                                첨부 파일 : {%for img in files%} "{{img.fileUrl}}" {%endfor%}
                            </li>

                            <li class="hashtagLi" style="margin-top: 1.5rem">
                                {%for item in hashtag%}
                                <a style="float: left; margin-right: 1.5rem; color: grey; cursor: pointer" class="tagName"># {{item.tagName}}</a>
                                {%endfor%}
                                <span style="color: gray"># {{item.tagName}}</span>
                                <input type="text" class="hashtagBox" name="tagName" placeholder="해시태그" style="border: none" />
                            </li>
                        </ul>
                        <button class="submitBtn">등록하기</button>
                    </form>
                    <button class="cancelBtn" onclick="location.href='board/list'">돌아가기</button>
                </div>
            </div>
        </article>
        <script src="/js/board/category/boardWrite.js" type="text/javascript"></script>
        {% include 'layout/footer.html' %}
    </body>
</html>
