<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/root.css" />
        <link rel="stylesheet" href="/css/layout/header.css" />
        <link rel="stylesheet" href="/css/layout/footer.css" />
        <link rel="stylesheet" href="/css/board/boardView.css" />
        <title>Document</title>
    </head>
    <body>
        {% include 'layout/header.html' %}
        <article>
            <div id="viewWrap">
                <!-- VIEW PAGE -->
                <div id="viewForm">
                    <!-- 상단 고정 부분 -->
                    <div class="top">
                        {% if content.mainName %}
                        <h1>{{content.mainName}} - {{content.subName}}</h1>
                        {% else %}
                        <h1>공지사항</h1>
                        {% endif %}
                        <span></span>
                    </div>

                    <!-- 가운데정렬용 -->
                    <div class="viewContentSortCenter">
                        <!-- ALL DATA IN VIEW PAGE -->
                        <div class="viewContent">
                            <!-- 제목, 작성자 & 날짜 -->
                            <div class="contentTop">
                                <div class="contentSubject">{{content.subject}}</div>
                                <ul>
                                    <li class="contentWriter">{{content.user_userid}}작성자</li>
                                    <li class="contentCreateDate">{{content.createAt}}</li>

                                    {%if content.cookies == content.user_userid %}
                                    <li class="contentModify"><a href="/board/modify?id={{content.id}}">수정</a></li>
                                    <li class="contentDelete"><a href="/board/delete?id={{content.id}}">삭제</a></li>
                                    {%endif%}
                                </ul>
                            </div>

                            <!-- 글 내용, 해쉬태그 -->
                            <div class="contentCenter">
                                <div class="contentData">
                                    <div>
                                        {{content.content}}
                                        <br />
                                        {%for img in files%}
                                        <img src="/{{img.fileUrl}}" />
                                        <br />
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="hashtagData">
                                    <ul>
                                        {%for item in hashtag%}
                                        <li><a href="#"># {{item.tagName}}　</a></li>
                                        {%endfor%}
                                    </ul>
                                </div>
                            </div>

                            <!-- 좋아요 -->
                            <div class="contentBottom">
                                <div class="changeIMG">
                                    <img src="/img/thumsup.png" />
                                </div>
                                <div class="thumsupCount">{{contentResult.liked}}</div>
                            </div>
                        </div>

                        <!-- 전체 댓글창 -->
                        <div class="viewComment">
                            <div class="commentCount">댓글({{commentCount}})</div>

                            <!-- 원댓 -->
                            {% for reply in commentResult %}
                            <div class="upperComment">
                                <div class="userCommnetContent">
                                    <div class="avatar">
                                        <a> <img src="/img/{{reply.avatar}}" /> </a>
                                    </div>
                                    <div class="commentCenterContent">
                                        <ul>
                                            <li>
                                                <sapn class="commentWriter">{{reply.userid}}</sapn>
                                                <span class="commentDate">{{reply.createAt}}</span>
                                            </li>
                                            <li>{{reply.content}}</li>
                                            <li><a href="#">답글쓰기</a></li>
                                        </ul>
                                        {%for re in replyResult%} {%if reply.id===re.groupNum%}
                                        <ul>
                                            <li>
                                                <sapn class="commentWriter">{{re.userid}}</sapn>
                                                <span class="commentDate">{{re.createAt}}</span>
                                            </li>
                                            <li class="commentReplyContent">{{re.content}}</li>
                                        </ul>
                                        {%endif%}{%endfor%}
                                    </div>
                                    <div class="commentBtns">
                                        <a href="#" class="commentBtnsEdit">수정</a>
                                        <a href="#" class="commentBtnsDel">삭제</a>
                                    </div>
                                </div>

                                <!-- 답댓 쓰기창 -->
                                <div class="commentReplyBox off">
                                    <form method="post" action="/board/view/comment">
                                        <!-- <span>내닉네임</span><br /> -->
                                        <div>
                                            <input type="hidden" name="userid" value="mood" />
                                            <input type="hidden" name="boardId" value="{{content.id}}" />
                                            <input type="hidden" name="classNum" value="1" />
                                            <input type="hidden" name="groupNum" value="{{reply.id}}" />
                                            <textarea name="content" placeholder="댓글을 입력하세요"></textarea>
                                            <button type="submit">등록</button>
                                        </div>
                                    </form>
                                </div>

                                <div class="replyplace">
                                    <!-- 답댓 테스트 데이터 -->
                                    <!-- 여기에 답댓 들어감 -->
                                </div>
                            </div>
                            {%endfor%}

                            <!-- 댓글쓰기 -->
                            <div class="writeCommentForm">
                                <form method="post" action="/board/view/comment">
                                    <!-- <span>내닉네임</span><br /> -->
                                    <div>
                                        <input type="hidden" name="boardId" value="{{content.id}}" />
                                        <input type="hidden" name="classNum" value="0" />
                                        <textarea name="content" placeholder="댓글을 입력하세요"></textarea>
                                        <button type="submit">등록</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- 이전글 혹은 다음글 -->
                        <div class="viewBottom">
                            <a href="/board/view?idx=" class="viewPrev">◀ 이전글</a>
                            <a href="/board/view?idx=" class="viewNext">다음글 ▶</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <script src="/js/board/view.js" type="text/javascript"></script>
        <!-- 좋아요 기능 들어있음 -->
        <script src="/js/board/category/boardList.js" type="text/javascript"></script>

        {% include 'layout/footer.html' %}
    </body>
</html>

<!-- 댓글 탬플릿 -->
<template id="justComment">
    <div class="upperComment">
        <div class="userCommnetContent">
            <div class="avatar">
                <a> <img src="/img/{{item.avatar}}" /> </a>
            </div>
            <div class="commentCenterContent">
                <ul>
                    <li>
                        <sapn class="commentWriter">{{item.user_userid}}</sapn>
                        <span class="commentDate">{{item.createAt}}</span>
                    </li>
                    <li>{{item.content}}</li>
                    <li><a href="#">답글쓰기</a></li>

                    <li></li>
                </ul>
            </div>
            <div class="commentBtns">
                <a href="/board/comment/modify" class="commentBtnsEdit">수정</a>
                <a href="/board/comment/delete" class="commentBtnsDel">삭제</a>
            </div>
        </div>

        <!-- 답댓 쓰기창 -->
        <div class="commentReplyBox off">
            <form method="post" action="/board/view?idx={{contentResult.board_idx}}/comments?idx=">
                <!-- <span>내닉네임</span><br /> -->
                <div>
                    <input type="hidden" name="userid" value="mood" />
                    <input type="hidden" name="classNum" value="1" />
                    <textarea name="content" placeholder="댓글을 입력하세요"></textarea>
                    <button type="submit">등록</button>
                </div>
            </form>
        </div>

        <div class="replyplace">
            <!-- 답댓 테스트 데이터 -->
            <!-- 여기에 답댓 들어감 -->
        </div>
    </div>
</template>

<!-- 답댓 탬플릿 -->
<template id="replyofComment">
    <div class="commentReply">
        <div class="userCommnetContent">
            <div class="replyImg">
                <img src="/img/replyArrow.png" />
            </div>
            <div class="avatar">
                <a> <img src="#" /> </a>
            </div>
            <div class="commentCenterContent">
                <ul>
                    <li>
                        <sapn class="commentWriter">댓글작성자</sapn>
                        <span class="commentDate">2023 - 01 - 31</span>
                    </li>
                    <li class="commentReplyContent"></li>
                </ul>
            </div>
            <div class="commentBtns">
                <a href="#" class="commentBtnsEdit">수정</a>
                <a href="#" class="commentBtnsDel">삭제</a>
            </div>
        </div>
    </div>
</template>
