{% block adminSide %}
<aside id="adminSide">
    <div class="adminSideFisrt">
        <div>관리자 페이지</div>
        <img src="/img/header.png" class="adminSideImg" />
    </div>
    <div class="adminSideSecond">
        <div class="adminSideContent">
            <div><img class="adminSideicon" src="/img/adminSideUser.png" /></div>
            <div class="textCenter">회원 관리</div>
        </div>
        <div class="adminSideContent">
            <div><img class="adminSideicon" src="/img/adminSideCategory.webp" /></div>
            <div class="textCenter">카테고리 관리</div>
        </div>
        <div class="adminSideContent">
            <div><img class="adminSideicon" src="/img/adminSideBoard.webp" /></div>
            <div class="textCenter">게시물 관리</div>
        </div>
        <div class="adminSideContent">
            <div><img class="adminSideicon" src="/img/adminSideStats.png" /></div>
            <div class="textCenter">통계</div>
        </div>
    </div>
</aside>
<script>
    const move = document.querySelectorAll('.textCenter')

    Object.values(move)[0].addEventListener("click", (e) => {
        location.href = `http://localhost:3005/admin/user?page=1`
    })

    Object.values(move)[1].addEventListener("click", (e) => {
        location.href = `http://localhost:3005/admin/category`
    })

    Object.values(move)[2].addEventListener("click", (e) => {
        location.href = `http://localhost:3005/admin/board?page=1&order=`
    })

</script>
{% endblock %}
