{% block adminSide %}
<aside>
    <div class="adminSideFisrt">
        <div>EZO</div>
        <img src="/img/header.png" class="adminSideImg" />
    </div>
    <div class="adminSideSecond">
        <div class="adminSideContent">
            <div><img class="adminSideicon" src="/img/adminSideUser.png" /></div>
            <div>회원 관리</div>
        </div>
        <div class="adminSideContent">
            <div><img class="adminSideicon" src="/img/adminSideCategory.webp" /></div>
            <div>카테고리 관리</div>
        </div>
        <div class="adminSideContent">
            <div><img class="adminSideicon" src="/img/adminSideBoard.webp" /></div>
            <div>게시물 관리</div>
        </div>
        <div class="adminSideContent">
            <div><img class="adminSideicon" src="/img/adminSideStats.png" /></div>
            <div>통계</div>
        </div>
    </div>
</aside>
{% endblock %}
