{% block adminSide %}
<aside id="adminSide">
    <div class="adminSideFisrt">
        <div>관리자 페이지</div>
        <img src="/img/header.png" class="adminSideImg" />
    </div>
    <div class="adminSideSecond">
        <div class="adminSideContent">
            <div><img class="adminSideicon" src="/img/adminSideUser.png" /></div>
            <div class="textCenter">회원 관리</div>
        </div>
        <div class="adminSideContent">
            <div><img class="adminSideicon" src="/img/adminSideCategory.webp" /></div>
            <div class="textCenter">카테고리 관리</div>
        </div>
        <div class="adminSideContent">
            <div><img class="adminSideicon" src="/img/adminSideBoard.webp" /></div>
            <div class="textCenter">게시물 관리</div>
        </div>
        <div class="adminSideContent">
            <div><img class="adminSideicon" src="/img/adminSideStats.png" /></div>
            <div class="textCenter">통계</div>
        </div>
    </div>
</aside>
{% endblock %}
