{% block editForm %}
<article>
  <div id="writeForm">
    <div class="top">
      <h1>글수정</h1>
      <span></span>
    </div>

    <div class="write">
      <form method="post" action="/board/modify">
        <input type="hidden" name="idx" value="{{list.idx}}" />
        <ul>
          <li class="subject">
            <input type="text" name="subject" value="{{list.title}}" />
          </li>

          <li class="content">
            <textarea name="content">{{list.content}}</textarea><br />
            <input type="file" name="img" />
          </li>
        </ul>
        <button class="submitBtn">수정하기</button>
      </form>
      <button class="cancelBtn" onclick="location.href='board/list'">돌아가기</button>
    </div>
  </div>
</article>
{%endblock%}
