<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/layout/header.css">
</head>
<body>
  {% block header %}
<header>
  <div id="header">
    <div class="headerLeft">
      <a href="#"><div class="headerLogo">TeamEzo</div></a>
    </div>
    <div class="headerCenter">
      <div><a href="#">HOME</a></div>
      <div><a href="#">BOARD</a></div>
      <div><a href="#">NOTICE</a></div>
      <div><a href="#">Q&A</a></div>
    </div>
    <div class="headerRight">
      <div><img class="headerImg" src="/img/sun.png" /></div>
      <div><img class="headerImg" src="/img/magnifier.png" /></div>
      <div><a href="#">LOGIN</a></div>
    </div>
    <div class="hamburger_btn">
      <span class="hamburger num1"></span>
      <span class="hamburger num2"></span>
      <span class="hamburger num3"></span>
  </div>
  </div>
</header>
{% endblock %}
  
</body>
</html>
