{% block header %}
  <div class="wrap">
    <aside id="sidebarWrap">
        <div class="cancleBtn">
            <span class="cancle1"></span>
            <span class="cancle2"></span>
            <span class="cancle3"></span>
        </div>
        <div id="sidebar">
            <div id="sidemenus">
                <div class="sideloginWrap">
                    <a href="#" class="sidelogin">로그인</a>
                    <a href="#" class="sidelogin">회원가입</a>
                </div>
                <div class="sidemenu">카테고리 1</div>
                <div class="sidemenu">카테고리 2</div>
                <div class="sidemenu">카테고리 3</div>
                <div class="sidemenu">카테고리 4</div>
            </div>
        </div>
    </aside>
    <header id="headerWrap">
        <div id="header">
            <div class="headerLogoWrap">
                <h1 class="headerLogo">TeamEzo</h1>
            </div>
            <div class="headerContentWrap">
                <div class="headerContents">
                    <a href=""><div class="headerContent">Home</div></a>
                    <a href=""><div class="headerContent">Board</div></a>
                    <a href=""><div class="headerContent">Notice</div></a>
                    <a href=""><div class="headerContent">QnA</div></a>
                </div>
            </div>
            <div class="headerFunction">
                <form class="searchWrap">
                    <input id="search" class="invisible" type="text">
                    <button id="searchBtn" class="invisible">검색</button>
                    <img id="searchIcon" src="/img/search.png">
                </form>
                <div class="hamburgerBtn">
                    <span class="stick h1"></span>
                    <span class="stick h2"></span>
                    <span class="stick h3"></span>
                </div>
            </div>
        </div>
    </header>
    
</div>
{% endblock %}
