{% block header %}
<header>
  <div id="header">
    <div class="headerLeft">
      <a href="#"><div class="headerLogo">TeamEzo</div></a>
    </div>
    <div class="headerCenter">
      <div><a href="#">HOME</a></div>
      <div><a href="#">BOARD</a></div>
      <div><a href="#">NOTICE</a></div>
      <div><a href="#">Q&A</a></div>
    </div>
    <div class="headerRight">
      <div><img class="headerImg" src="/img/sun.png" /></div>
      <div><img class="headerImg" src="/img/magnifier.png" /></div>
      <div><a href="#">LOGIN</a></div>
    </div>
  </div>
</header>
{% endblock %}
