{% block listForm %}
<article>
    <div id="listForm">
        <div class="top">
            <h1>{{board}}</h1>
            <span></span>
        </div>
        <table class="content">
            <tbody>
                <tr>
                    <th class="per10">번호</th>
                    <th class="per40">제목</th>
                    <th class="per20">작성자</th>
                    <th class="per20">등록일</th>
                    <th class="per10">조회수</th>
                </tr>
                {% for item in list %}
                <tr>
                    <td class="per10">{{item.idx}}</td>
                    <td class="title per40">
                        <a href="/{{board}}/view?idx={{item.idx}}">{{item.subject}}</a>
                    </td>
                    <td class="per20">{{item.userid}}</td>
                    <td class="per20">{{item.createAt}}</td>
                    <td class="per10">{{item.hit}}</td>
                </tr>
                {%endfor%}
            </tbody>
            <!-- {%if count === 0 %}
            <div>
                <span>[ 등록된 글이 없습니다 ]</span>
            </div>
            {%endif%} -->
        </table>
        <div class="bottom">
            <a href="/{{board}}/write">글쓰기</a>
            <ul>
                <li class="prev"><a href="#">이전</a></li>
                <li class="next"><a href="#">다음</a></li>
            </ul>
        </div>
    </div>
</article>
{% endblock %}

<!-- {% for item in list %}
<tr id="subject">
    <td>{{item.idx}}</td>
    <td class="title">
        <a href="/board/view?index={{item.idx}}">{{item.title}}</a>
    </td>
    <td>{{item.writer}}</td>
    <td>{{item.registerDate}}</td>
    <td>{{item.hit}}</td>
</tr>
{% endfor %} -->

<!-- <link rel="stylesheet" href="/css/layout/listForm.css" />
<script src="/js/layout/listForm.js" type="text/javascript"></script> -->
