    {% block listForm %}
    <article>
      <div id="writeForm">
        <div class="top">
          <h1>새글쓰기</h1>
          <span></span>
        </div>

        <div class="write">
          <form method="post" action="/{{board}}/write">
            <ul>

              <li class="subject">
                <input type="text" name="subject" placeholder="제목을 입력하세요" />
              </li>

              <li class="content">
                <textarea name="content" placeholder="내용을 입력하세요"></textarea><br>
                <input type="file" name="img" />
              </li>
              </li>
            </ul>
            <button class="submitBtn">등록하기</button>
          </form>
          <button class="cancelBtn" onclick="location.href='{{board}}/list'">돌아가기</button>
        </div>
      </div>
    </article>
    <script type="text/javascript" src="/js/layout/writeForm.js"></script>
{%endblock%}
