.adminWrap {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.adminRight {
    margin: 10rem auto;
    height: 90rem;
    display: flex;
    flex-direction: column;
}

.adminRightTop {
    width: 120rem;
    height: 15%;
    padding: 3rem 0 0 3rem;
    box-sizing: border-box;
}

.adminRightTop > h1 {
    font-size: 3.6rem;
    font-weight: 350;
}

.adminRightTop > p {
    font-size: 1.6rem;
    margin-top: 2.5rem;
    font-weight: 160;
}

.adminBoardSearch {
    display: flex;
    align-items: center;
    margin: 2rem;
    width: 100%;
}

.adminBoardSearch > form {
    width: 70rem;
    display: flex;
}

/* .adminBoardSearch > form > span {
    text-align: center;
    width: 20rem;
    margin: 1rem 0;
    font-size: 2rem;
} */

.adminBoardSearch > form > input {
    width: 40rem;
    margin: 1rem 0;
    padding: 1rem 2rem;
    border: none;
    background-color: #dedede;
    border-radius: 0.3rem;
    box-sizing: border-box;
}

.adminBoardSearch > form > button {
    text-align: center;
    line-height: 3rem;
    width: 10rem;
    height: 4.5rem;
    margin: 1rem ;
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    color: var(--main);
    background-color: var(--header);
    transition: all 0.3s;
}

.adminBoardSearch > form > button:hover {
    background-color: var(--footer);
}

.adminBoardList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto;
    width: 120rem;
    height: 60rem;
}

.adminBoardList > table > tr > th {
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

table {
    margin-bottom: 5rem;
    width: 120rem;
    height: 100rem;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    background-color: #efefef8f;
    box-shadow: 1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.trHeader {
    font-size: 1.6rem;
    color: var(--main);
    background-color: var(--footer);
}

.trBody > td {
    font-size: 1.6rem;
    height: 7rem;
    text-align: center;
    border-bottom: 1px solid #ececec;
}

.th1 {
    width: 10%;
    height: 5rem;
}
.th2 {
    width: 10%;
    height: 5rem;
}
.th3 {
    width: 10%;
    height: 5rem;
}
.th4 {
    width: 25%;
    height: 5rem;
}
.th5 {
    width: 10%;
    height: 5rem;
}
.th6 {
    width: 10%;
    height: 5rem;
}
.th7 {
    width: 10%;
    height: 5rem;
}
.th8 {
    width: 10%;
    height: 5rem;
}

.adminPreNext{
    display: flex;
    justify-content: center;
}

.adminPreNext > a {
    text-align: center;
    line-height: 3rem;
    width: 20rem;
    height: 4.5rem;
    margin: 1rem auto;
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    color: var(--main);
    background-color: var(--header);
    transition: all 0.3s;
}

.adminPreNext > a:hover {
    background-color: var(--footer);
}